  #quantity-offers .preview-offer{
    padding: 10px;
    border-radius: 6px;
    border: 0px solid #d1d1d1; /* Default non-selected border */
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: 'Cairo', sans-serif;
    min-height: 80px;
    flex-direction: row;
    ackground: #eee;
         box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);

  }

  #quantity-offers .preview-offer.selected {
    background: linear-gradient(90deg,rgba(106, 199, 49, 0.03),rgba(147,214,107,.2) 48.96%,rgba(146,226,154,.2)); /* Light shade of your ACF color */
    border-colo: var(--lp-color); /* Using a CSS variable for ACF color */
    
      box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
      border: 2px solid var(--lp-color); /* Add border with the ACF color */

  }

  #quantity-offers .preview-offer img {
    margin-right: 5px;
     margin-left: 5px;
    object-fit: contain; /* Ensures the image is not stretched */
    flex-shrink: 0; /* Prevents the image from shrinking */
  }

  #quantity-offers .offer-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center the content */
  }

  #quantity-offers .offer-title {
    font-weight: bold;
    padding-bottom: 5px;
     font-size: 16px; /* Increase font size */
    line-height: 1.5; /* Add more line height */
  }

  #quantity-offers .offer-badge {
    background: var(--lp-color); /* Using a CSS variable for ACF color */
    color: #fff;
    padding: 8px 8px; /* 5px top and bottom, 10px left and right */
    border-radius: 5px;
    display: inline-block; /* This will make the badge only as wide as its content plus padding */
    white-space: nowrap; /* Prevents the badge text from wrapping */
    max-width: fit-content; /* Ensures the badge is only as wide as its content */

    flex-shrink: 0; /* Prevents the badge from shrinking */
    font-size: 13px;
    font-weight: bold;
    

  }

#quantity-offers .pricing {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Aligns prices to the right */
    justify-content: center; /* Centers prices vertically */
}

#quantity-offers .pricing  {
      min-width: 70px;
    text-align: right; /* Align text to the right */
    white-space: nowrap;
}


  #quantity-offers .compare-price {
    text-decoration: line-through;
    margin: 0; /* Reset margins for consistent alignment */
     color: gray;
     font-size: 16px;
  }

  #quantity-offers .sale-price {
  font-weight: bold;
    margin: 0; /* Reset margins for consistent alignment */
       font-size: 16px;
       
       
  }
  
  .elementor-1634 .elementor-element.elementor-element-8fb115f {

  background: #f9f9f9;
  
}






